body {
  margin: 0;
  overflow: hidden;
  }

.dot {
  position:absolute;
  top : 600px;
  left: -400px;
  height: 300px;
  width: 300px;
  background: linear-gradient(#f2cb05, #f29f05);
  border-radius: 50%;
  display: block;
  margin: 0;
}

#horloge {
  position:absolute;
  top : 600px;
  left: 130px;
  font-family:'digital-clock-font';
  src: url('put_the_location_to_your_font.ttf or .otf');
  background-color : black ;
  color: greenyellow;
  font-size: 40px;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
}

.background {
  color: hsl(330, 100%, 0%);
  animation: wheelHueColor 10s infinite;
  background-color: currentColor;
}
.star {
background: #fff;
position: absolute;
-webkit-animation: blinkAnim 5400s infinite;
-moz-animation: blinkAnim 5400s infinite;
-ms-animation: blinkAnim 5400s infinite;
-o-animation: blinkAnim 5400s infinite;
animation: blinkAnim 5400s infinite;
}
@keyframes blinkAnim {
from { opacity: 1; }
1%   { opacity: 0.5; }
2%   { opacity: 0.4; }
3%   { opacity: 0.4; }
4%   { opacity: 0.3; }
5%   { opacity: 0.3; }
6%   { opacity: 0.2; }
7%   { opacity: 0.2; }
8%   { opacity: 0.2; }
9%   { opacity: 0.2; }
10%  { opacity: 0.1; }
11%  { opacity: 0.1; }
12%  { opacity: 0.1; }
13%  { opacity: 0; }
53%  { opacity: 0; }
54%  { opacity: 0.1; }
55%  { opacity: 0.1; }
56%  { opacity: 0.1; }
57%  { opacity: 0.2; }
58%  { opacity: 0.2; }
59%  { opacity: 0.2; }
60%  { opacity: 0.2; }
61%  { opacity: 0.4; }
62%  { opacity: 0.4; }
62%  { opacity: 0.6; }
64%  { opacity: 0.8; }
100% { opacity: 1; }
to   { opacity: 1; }
}
@-webkit-keyframes blinkAnim {
from { opacity: 1; }
1%   { opacity: 0.5; }
2%   { opacity: 0.4; }
3%   { opacity: 0.4; }
4%   { opacity: 0.3; }
5%   { opacity: 0.3; }
6%   { opacity: 0.2; }
7%   { opacity: 0.2; }
8%   { opacity: 0.2; }
9%   { opacity: 0.2; }
10%  { opacity: 0.1; }
11%  { opacity: 0.1; }
12%  { opacity: 0.1; }
13%  { opacity: 0; }
53%  { opacity: 0; }
54%  { opacity: 0.1; }
55%  { opacity: 0.1; }
56%  { opacity: 0.1; }
57%  { opacity: 0.2; }
58%  { opacity: 0.2; }
59%  { opacity: 0.2; }
60%  { opacity: 0.2; }
61%  { opacity: 0.4; }
62%  { opacity: 0.4; }
62%  { opacity: 0.6; }
64%  { opacity: 0.8; }
100% { opacity: 1; }
to   { opacity: 1; }
}
@supports (background-blend-mode: overlay) {
  .background {
    background-image: linear-gradient(45deg, white 10%, black 90%);
    background-blend-mode: overlay;
    animation-duration: 5400s;
  }
@keyframes wheelHueColor {
from, to { color: hsl(0, 0%, 0%); }
  1%       { color: rgb(2, 0, 34); }
  2%       { color: rgb(5, 1, 44); }
  3%       { color: rgb(2, 0, 47); }
  4%       { color: rgb(0, 4, 44); }
  5%       { color: rgb(0, 1, 54); }
  6%       { color: rgb(0, 6, 61); }                                                                                      
  7%       { color: rgb(0, 5, 82); }                                                                                         
  8%       { color: rgb(2, 0, 98); }                                                                                  
  9%       { color: rgb(3, 0, 151); }                                                                              
  10%      { color: rgb(0, 12, 185); }
  11%      { color: hsl(216, 100%, 35%); } 
  12%      { color: hsl(216, 100%, 38%); }
  13%      { color: hsl(216, 100%, 50%); }                                                                                                                                                                    
  14%      { color: hsl(216, 100%, 80%); }
  50%      { color: hsl(216, 100%, 80%); }
  51%      { color: hsl(216, 100%, 62%); }
  52%      { color: hsl(216, 100%, 56%); }
  53%      { color: hsl(216, 100%, 50%); }
  54%      { color: rgb(0, 16, 241); }
  55%      { color: rgb(3, 0, 209); }
  56%      { color: rgb(3, 0, 153); }
  57%      { color: rgb(0, 9, 131); }
  58%      { color: rgb(0, 10, 100); }
  59%      { color: rgb(0, 1, 83); }
  60%      { color: rgb(0, 8, 80); }
  61%      { color: rgb(6, 0, 90); }
  62%      { color: rgb(6, 0, 59); }
  63%      { color: rgb(2, 0, 34); }
  64%      { color: rgb(0, 0, 0); }
  100%     { color: rgb(0, 0, 0); }
}
* { margin: 0; padding: 0; }
.background {
  min-height: 100vh;
  display: flex;
}